@define-color warning_bg_color #fcaf3e;
@define-color error_bg_color #ef2929;
@define-color info_bg_color #d2dbe6;
@define-color message_fg_color white;

GcaDiagnosticMessage
{
  border-width: 0px;
  border-radius: 10px;
}

GcaDiagnosticMessage GtkLabel {
  color: @message_fg_color;
}

GcaDiagnosticMessage.warning
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@warning_bg_color),
                                  to(shade(@warning_bg_color, 0.75)));
}

GcaDiagnosticMessage.error
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@error_bg_color),
                                  to(shade(@error_bg_color, 0.75)));
}

GcaDiagnosticMessage.info
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@info_bg_color),
                                  to(shade(@info_bg_color, 0.75)));
}

/* vi:ex:ts=2:et */
